.type {
    border: 1px solid lightgray;
    border-radius: 1rem;
    padding: 1rem;
}

#type-book {
    display: none;
}

#type-furniture {
    display: none;
}

#fillAllFieldsAlert {
    display: none;
}